*{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    text-transform: capitalize;
}

#outer{
    font-size: 50px;
    color: aqua;
    background-color: green;
}
#inner{
    font-size: 25px;
    color: blue;
    background-color: pink;
}