div{
    height: 100px;
    width: 100px;
    padding: 25px;
    margin: 25px;
    display: inline-block;
}

#box2 {
    /* display: none;  Initially hidden */
    visibility: hidden; /* Prevents the element from taking up space */
}