body{
    text-align: center;
}

div{
    height: 100px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    /*justify-content:flex-end;            [    11111] */ 
    /*justify-content: space-around;       [  1  1  1  1  1  ] */
    /*justify-content: space-between;      [1  1  1  1  1] */
    /*justify-content: space-evenly;       [ 1  1  1  1  1 ] */
    justify-content: center;
    /* flex-wrap: wrap;                    wrap the items to the next line if they overflow */
    align-items: flex-start;
    /* align-content: flex-start; */

}


#box1{
    background-color: red;
}

#box2{
    background-color: green;
    height: 200px;
    flex-shrink: 2; /* allows the box to shrink if needed */
}

#box3{
    background-color: blue;
    height:75px;
    flex-grow: 1;
}

#box4{
    background-color: yellow;
}

#box5{
    background-color: purple;
}