div{
    height: 50px;
    width: 100px;
    background-color: red;
    /*border-width: 2px;
    border-style: solid;
    border-color: black;*/
    border: 2px solid blue;
    text-align: right ;
}

h1{
    height: 100px;
    width: 200px;
    background-color: blue;   
    /* border-width: 3px;
    border-style: solid;
    border-color: green; */
    border: 3px dashed yellow;
    text-align: center;
}


