.loader{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid #e2e623;
    border-top:20px solid #4ecdc4;
    animation: spin 1s ease-in-out 0s infinite ;

}

@keyframes spin{
    from {
        transform: 0deg;
    }
    to{
        transform: rotate(360deg);
    }
}